@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.hn{
 font-family: 'Hanna', sans-serif;
}
.jh{
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Jeju Hallasan', cursive;
}

.jh-mini{
  font-size: 0.8em;
  color: rgba(244, 244, 244, 1);
  font-family: 'Jeju Hallasan', cursive;
}



a {
  /*text-decoration:none !important;*/
  color: white;
}

a:hover {
  text-decoration:none !important;
}

.card-text a{
  color: red;
}

.hidden-text {
  display: none;
}

nav{
  background-color: rgba(10, 10, 10, 0) !important;
}


.nav-item {
  margin-right:10px !important;
}

.wrap-item{
  padding-top:10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.jumbotron{
    height: 550px;
    position: relative;
    padding:0 !important;
    background-color: black !important;
    background-image: url("ironman_wonjin.png");
    background-size:105%;
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0 !important;
}
.info-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sch-heading {
  height: 1em;
  margin-top: 7%;
  width:60%;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 50px 50px 0px 0px;
  display: flex;
  justify-content: center;
}

.sch-bottom {
  font-size: 1em;
  height:1rem;
  width:60%;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 0px 0px 50px 50px;
  display: flex;
  justify-content: center;
}

.flex-heading {
  height: 1em;
  color:rgba(255,255,255, 0.8);
}


.sch-body {
  width:60%;
  background-color: rgba(0,0,0, 0.6);
  display: flex;
  flex-direction: column;
}

.flex-body {
  margin-left: auto;
  margin-right: auto;
}

.flex-body p{
  margin-top:1em;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: rgba(244, 244, 244, 0.8);
}

.cards-section {
  margin-top: 20px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.video-section {
  height:600px;
}



.card-columns{
  padding: 8px;
}

footer {
  padding-top:20px;
  padding-bottom: 20px;
  background-color: rgba(255, 0, 25, 1);
}

.footer_img {
  width:30px;
  height:30px;
  margin-bottom: 5px;
  border-radius:20%;
}


@media (max-width: 768px) {
  a {
    /*text-decoration:none !important;*/
    color: blue;
  }
  
  .hidden-text {
    display: inline;
  }
  
  .navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .jumbotron {
    height: 200px;
  }
  
  .flex-body p {
    margin-top:0.1rem;
    margin-bottom: 0.5em;
    font-size: 0.5em;
    color: white;
  }
  
  .flex-heading {
    height: 0.5em;
  }
  
  .sch-heading {
    margin-top: 5%;
  }
  
  .card-columns {
    background-color: white;
    padding: 8px;
  }
  
  video{
    display: none;
  }
  
  .video-section {
    display: none;
  }
}

